{% extends "base.html" %}

{% block title %}
    <title>Ad</title>
{% endblock%}

{% block body %}
    <div class="container">
        <h1 class="text-center">ID: {{ad.id}}</h1>
        <h1 class="text-center">Title: {{ad.title}}</h1>
        <h1 class="text-center">description: {{ad.description}}</h1>
        <h1 class="text-center">phone: {{ad.entry_date}}</h1>
        <h1 class="text-center">Owneraa: {{ad.user.email}}</h1>
        {% if is_owner %}
            <a class="btn btn-success" href="{% url 'edit_ad' ad.id %}">Edit Ad</a>
        {% endif %}
    </div>
    
{% endblock %}